body {
  background-color: #c4c4c4;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

#workout-selection-container {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
}

#workout-selection-container button {
  /* float: right; */
}

.module-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  height: 80vh;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
  background-color: #e4dfdf;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

/* stopwatch part */
#stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  width: 100%;
  margin: auto;
  background-color: #e4dfdf;
}

#digitContainer {
  width: 100%;
  height: 500px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

#digitContainer h1 {
  margin: auto;
  font-size: 5.5rem;
}

.btn-space {
  width: 10px;
  height: auto;
  display: inline-block;
}

.module-space {
  width: 30px;
  height: auto;
  display: inline-block;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* trackform part */

#tracking-table {
  width: 100%;
  table-layout: fixed;
  margin: auto;
}

td {
  width: 50%;
  background: #e4dfdf;
  padding: 5px;
}
th {
  pad: 5px;
  text-align: center;
}

td input {
  width: 100%;
}

.nav-container {
  padding-left: 12px;
  margin-top: 4px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.comment-container label {
  margin-left: 5px;
}

.comment-container textarea {
  margin: 5px;
  height: 150px;
}

/* media query for desktop */

@media screen and (min-width: 992px) {
  .module-container {
    flex-direction: row;
    height: 90vh;
  }
  .section {
    width: 100%;
    padding: 20px;
    margin: auto;
  }

  #stopwatch {
    width: 40%;
  }
}
